.l1{
    background: #CCCCCC;
    border-radius: 20px;
    text-align: center;
    height: 500px;
    width: 100%;
    font-size: 30px;
    white-space: pre-wrap; 
}
.block1{
    background-color: #CCCCCC;
    padding: 100px;
    white-space: nowrap;
    font-size: 30px;
}
.blok3{

    margin-top: 20px;
    white-space: normal;   
    width: 30%;
    margin-right: 5%;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}
.blok4{
    white-space: normal;   
    width: 30%;
    margin-right: 5%;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}
.blok5{
    white-space: normal;   
    width: 30%;
    margin-right: 100%;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}
.block2{
    padding: 100px;
    white-space: nowrap;
    font-size: 30px;
}
.block3{
    background-color: #CCCCCC;
    padding: 100px;
    white-space: nowrap;
    font-size: 30px;
}
.blok7{
    margin-top: 20px;
    white-space: normal;   
    width: 30%;
    margin-right: 5%;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}
.blok8{
    white-space: normal;   
    width: 30%;
    margin-right: 5%;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}
.blok9{
    white-space: normal;   
    width: 30%;
    margin-right: 100%;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}
.block4{
    background-color: #CCCCCC;
    padding: 100px;
    white-space: nowrap;
    font-size: 30px;
}
.blo2{
    margin-top: 20px;
    white-space: normal;   
    width: 30%;
    margin-right: 5%;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}
.blo3{
    white-space: normal;   
    width: 30%;
    margin-right: 5%;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}
.blo4{
    white-space: normal;   
    width: 30%;
    margin-right: 100%;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}

.bl{
    background: #CCCCCC;
    border-radius: 20px;
    height: 500px;
    width: 100%;
    font-size: 30px;
    white-space: pre-wrap; 
}
.bl1{
    background: #CCCCCC;
    border-radius: 20px;
    height: 500px;
    width: 100%;
    font-size: 30px;
    white-space: pre-wrap; 
}
.block4 {
    background-color: #CCCCCC;
    padding: 100px;
    white-space: nowrap;
    font-size: 30px;

}


.blok43 {
    background: white;
    white-space: normal;   
    width: 45%;
    margin-right: 5%;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    padding: 20px;

}

.blok54 {
    background: white;
    white-space: normal;   
    width: 45%;
    margin-right: 5%;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    padding: 20px;
}

.blok65 {
    background: white;
    white-space: normal;   
    width: 45%;
    margin-right: 5%;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    padding: 20px;
}

.blok74 {
    background: white;
    white-space: normal;   
    width: 45%;
    margin-right: 5%;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    padding: 20px;
}

.l21{
    background: #CCCCCC;
    border-radius: 20px;
    text-align: left;
    height: 500px;
    width: 100%;
    font-size: 30px;
    white-space: pre-wrap; 
}
